[Unit]
Description=aiGuard service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u aiGuard.py
WorkingDirectory=/home/aiGuard/aiGuard
StandardOutput=inherit
StandardError=inherit
Restart=always
User=aiGuard

[Install]
WantedBy=multi-user.target